<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab 3 {{fruity}} 
      <ion-title size="large">Tab 3 {{importedFruit.fruit}} what??</ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3 {{ fruity }}</ion-title>
      <!--<ion-title size="large">Tab 3 {{importedFruit.fruit}}</ion-title>-->
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
